:root {
    --font-sans:
        -apple-system-body,
        ui-sans-serif,
        -apple-system,
        system-ui,
        "Segoe UI",
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    --font-mono:
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        "Liberation Mono",
        "Courier New",
        monospace;
}

html,
body {
    font-family: var(--font-sans);
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    line-height: 1.68;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-sans);
    font-weight: 600 !important;
    letter-spacing: -0.012em !important;
}

code,
pre,
kbd,
samp {
    font-family: var(--font-mono);
}

b,
strong,
.font-semibold {
    font-weight: 600 !important;
}

.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    font-weight: 500 !important;
    color: rgb(var(--primary-light)) !important;
}

.codeblock-dark div:not(:last-child) {
    color: #fafafa;
}
